---
import Layout from "$/layouts/Default.astro";
import Icon from "$/components/Icon.astro";
---

<Layout>
	<h1 class="text-3xl mb-4"><span class="wave wave-animation">👋</span> Hi, thanks for stopping by!</h1>
	<section class="text-lg text-justify">
		<p class="mb-2">
			My name is Fernando Arteaga, I am a Software Engineer passionate about his profession.
		</p>
		<p class="mb-2">
			Throughout my career I have worked with many <a href="/resume" class="underline underline-offset-2">different
			technologies</a>, in several projects in various fields, i.e. casino industry, IoT, e-commerce, among others.
			In this beautiful path I have encountered several challenges that I have had to solve, and I would love to be
			able to pass on my experience to anyone who finds it interesting.
		</p>
		<p class="mb-2">
			Well that's it, this is a place where I want to share ideas and experiences, about problems and how to solve
			them. I hope you find something useful and that can help you in your journey.
		</p>
	</section>
	<section class="text-lg mt-8">
		<h1 class="text-3xl mb-4 text-center sm:text-left">Connect</h1>
		<div class="flex space-x-4 justify-around px-8 sm:justify-start sm:p-0 w-full">
			<a href="mailto:me@fernandoarteaga.dev" target="_blank">
				<Icon name="mail" size="32" />
			</a>
			<a href="https://www.linkedin.com/in/fernando-arteaga-cespedes/" target="_blank">
				<Icon name="linkedin" size="32" />
			</a>
			<a href="https://github.com/FernandoArteaga" target="_blank">
				<Icon name="github" size="32" />
			</a>
		</div>
	</section>
</Layout>

<script>
	const wave = document.getElementsByClassName('wave');
	for (let element of wave) {
		element.addEventListener('animationend', function(_e) {
			element.classList.remove('wave-animation');
		});

		element.addEventListener('mouseover', function(_e) {
			element.classList.add('wave-animation')
		})
	}
</script>
<style>
	.wave-animation {
		animation-name: wave-animation;
		animation-duration: 2.5s;
		animation-iteration-count: 1;
		transform-origin: 70% 70%;
		display: inline-block;
	}

	@keyframes wave-animation {
		0% { transform: rotate( 0.0deg) }
		10% { transform: rotate(14.0deg) }
		20% { transform: rotate(-8.0deg) }
		30% { transform: rotate(14.0deg) }
		40% { transform: rotate(-4.0deg) }
		50% { transform: rotate(10.0deg) }
		60% { transform: rotate( 0.0deg) }
		100% { transform: rotate( 0.0deg) }
	}
</style>