---
import Layout from "$/layouts/Default.astro";
import Icon from "$/components/Icon.astro";
---

<Layout>
	<h1 class="text-3xl mb-4">👋 Hi, thanks for stopping by!</h1>
	<section class="text-lg">
		<p class="mb-2">
			My name is Fernando Arteaga, I am a Sowtware Engineer passionate about his profession.
		</p>
		<p class="mb-2">
			Throughout my career I have worked with many <a href="/about" class="underline underline-offset-2">different
			technologies</a>, in several projects in various fields, i.e. casino industry, IoT, e-commerce, among others.
			In this beautiful path I have encountered several challenges that I have had to solve, and I would love to be
			able to pass on my experience to anyone who finds it interesting.
		</p>
		<p class="mb-2">
			Well that's it, this is a place where I want to share ideas and experiences, about problems and how to solve
			them. I hope you find something useful and that can help you in your journey.
		</p>
	</section>
	<section class="text-lg mt-8">
		<h1 class="text-3xl mb-4">Connect</h1>
		<div class="flex space-x-4">
			<a href="mailto:fernandoarteaga.personal@gmail.com" target="_blank">
				<Icon name="mail" size="32" />
			</a>
			<a href="https://www.linkedin.com/in/fernando-arteaga-cespedes/" target="_blank">
				<Icon name="linkedin" size="32" />
			</a>
			<a href="https://github.com/FernandoArteaga" target="_blank">
				<Icon name="github" size="32" />
			</a>
		</div>
	</section>
</Layout>
