---
import { CV } from "$/cv";
import resume from '$resume';
import Layout from "$/layouts/Default.astro";
import ProjectCard from "$/components/ProjectCard.astro";

const cv: CV = resume;
---

<Layout>
  <div class="mx-auto max-w-screen-sm md:max-w-screen-md xl:max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 justify-items-center gap-8">
    {
      cv.projects.map((project) => (
        <ProjectCard project={project} />
      ))
    }
  </div>
</Layout>
