<footer class="w-full h-20 sticky top-[100vh] shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] flex flex-row justify-center items-center">
    <p>
        Built with <a href="/about" class="link">Astro</a>.
        See <a href="https://github.com/FernandoArteaga/dev-website" class="link">source code</a>.
    </p>
</footer>