<footer class="w-full h-20 sticky top-[100vh] shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px] flex flex-row justify-center items-center">
    <p>
        Built with <a href="https://astro.build/" target="_blank" class="link">Astro</a> |
        Powered by <a href="https://pages.cloudflare.com/" target="_blank" class="link">Cloudflare</a> |
        <a href="https://github.com/FernandoArteaga/dev-website" target="_blank" class="link">Source</a> on GitHub
    </p>
</footer>