---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
const tailwindClasses = isActive ?
	'font-bold underline decoration-primary decoration-4 underline-offset-[24px]' :
	'no-underline';
---

<a href={href}
	 class:list={['inline-block', tailwindClasses]} {...props}>
	<slot />
</a>